.NavbarItemsPsic {
    background-color: #2D4561;
    width: 100%;
    height: 12vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.dados-psicologo{
    width: 18%;
    background-color: whitesmoke;
    margin-left: auto;
    height: 12vh;
    padding: 3vh;
    left: 82%;
    position: absolute;
}

.nav-menuPsic {
    display: grid; 
    grid-template-columns: repeat(3, auto);
    position: absolute;
    width: 70vw; 
    justify-content: right;
    margin-right: 10rem; 
}

.nav-linksPsicPerfil {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 90%;
}

.nav-linksPsicPerfil:hover {
    border-radius: 10px;
    color: rgb(138, 180, 214);
    transition: all 0.2s ease-out;
}

.logo-cheeryUpPsic img{
    width: 3vw;
    height: 4vw;
    position: absolute;
    left: 2%;
    top: 13%;
}

@media screen and (max-width: 960px) {
    .NavbarItemsPsic{
        width: 100%;
        position: absolute;
        font-size: 1rem;
    }

    .dados-psicologo-attPac{
        display: none;
    }

    .dados-psicologo{
        display: none;
    }

}