@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.NavbarItemsAlt {
    background-color: #2D4561;
    height: 12vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-menuAlt {
    display: grid;
    grid-template-columns: repeat(5, auto);
    position: absolute;
    right: 0;
    grid-gap: 10px;
    list-style: none;
    text-align: right;
    width: 70vw;
    justify-content: right;
    margin-right: 2rem;
}

.nav-linksAlt {
    color: white;
    text-decoration: none;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    font-size: 105%;
}

.nav-linksAlt:hover {
    background-color: #375374;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.logo-cheeryUpAlt img{
    width: 45px;
    height: 6vh;
    position: absolute;
    left: 2%;
    top: 23%;
}