@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.NavbarItemsPsic{
    background-color: #2D4561;
    height: 70px;
    font-size: 1.2rem;
}

.NavbarItemsPsic .logo-cheeryUpAlt img{
    align-items: center;
    width: 40px;
    height: 56px;
    justify-content: left;
    margin: 4px 20px;
}


.NavbarItemsPsic .dados-psicologo{
    height: 70px;
    display:flex;
    align-items: center;
}

.NavbarItemsPsic li a{
    margin-left: 100px;
    font-size: 1.4rem;
    color:#eee;
}

.NavbarItemsPsic .nav-menu{
    margin-right: 350px;
    margin-top: -45px;
}