.NavbarItemsPsic {
    background-color: #2D4561;
    width: 85%;
    height: 12vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-linksPsic {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 90%;
}

.nav-linksPsic:hover {
    border-radius: 10px;
    color: rgb(138, 180, 214);
    transition: all 0.2s ease-out;
}

.logo-cheeryUpPsic img{
    width: 3vw;
    height: 6vh;
    position: absolute;
    left: 2%;
    top: 23%;
}