.NavbarItems {
    background-color: white;
    height: 8vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    position: absolute;
    right: 0;
    grid-gap: 10px;
    list-style: none;
    text-align: right;
    width: 70vw;
    justify-content: right;
    margin-right: 2rem;
}

.nav-links {
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    font-size: 105%;
}

.nav-links:hover {
    border-radius: 10px;
    color: #f12f21;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
/* 
@media screen and (max-width: 960px){
    .NavbarItems {
        position: absolute;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        width: 100%;
        position: absolute;
        top: 80px;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #f46666a6;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 1rem 3rem;
        width: 100%;
        display: table;
        background-color: white;
        border-radius: 18px;
    }

    .nav-links:hover {
        background-color: #EE512F;
        border-radius: 18px;
    }

    .logo-cheeryUp img{
        width: 120px !important;
        height: 50px !important;
        position: absolute;
        left: 3%;
        top: 5%;
        
    }

} */

/* .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
} */


/* .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #e69655;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav-links-mobile:hover {
    background: #fff;
    color: #f465c96c;
    transition: 250ms;
} */

.logo-cheeryUp img{
    width: 10vw;
    height: 6vh;
    position: absolute;
    left: 2%;
    top: 18%;
}

/*

.logo-cheeryUpAlt img{
    width: 45px;
    height: 50%;
    position: absolute;
    left: 3%;
    top: 19%;
}

*/







/* MOBILE */


.NavbarItemsMobile {
    background-color: white;
    height: 8vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    font-size: 1.5rem;
}

.ContentSideBar {
    color: rgb(10, 10, 10);
}

.ContainerSideBar {
    width: 80vw;
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.ContainerSideBar a {
    padding: 10px 0px;
}

.ContainerSideBar a:hover {
    background-color: beige;
    color: rgb(10, 10, 10);
}


.ContainerSideBar a:not(:last-of-type) {
    border-bottom: solid 1px rgb(10, 10, 10);
}
