:root {
    --primary: #f73a63;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #c2485380;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btn-large {
    padding: 20px 32px;
    border-radius: 20px;
    font-size: 40px;
    color: #fff;
}

.botaoCadastro{
    background-color: #4eca86;
    border: 2.5px solid rgb(54, 54, 54);
    font-size: 40px;
    font-family: sans-serif;
    border-radius: 12px;
    color: rgb(252, 252, 252);
    text-decoration: none;
    padding: 15px 120px;
    margin-left: 10px;
    white-space: nowrap;
}

.botaoCadastro:hover {
    background-color: #d2d5f5;
    border-radius: 12px;
    transition: all 0.4s ease-out;
    color: black;
}