.container-login{
  display: flex;
  height: 100vh;
  width: 100vh;
}

.form-login-container {
    position:relative;
    display: inline-block;
    height: 100vh;
    width: 50vw;
    background: #ffffff
  }
  .links {
    font-size: 90%;
    color: #f0300efa;
  }
  .links:hover {
    color: #f0300efa;
  }
  .side-image-login img{
    position: relative;
    height: 100vh;
    width: 50vw;
   
  }

  .ui.input > input {
    background-color: #F2F2F2 !important;
    border-radius: 5px !important;
    border: 0px !important;
  }

  .ui.button{
    background-color: #2D4561 !important;
    border-radius: 5px !important;
    color: #f7f7f7 !important;
  }
  
  .ui.card>.content{
    border-top: none !important;
  }

  .form-title-login { 
    font-size: 1.2rem !important;
    font-weight: normal !important;
    justify-content: left !important;
  }

  .form-login-wrap {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
  }

  .form-content-input-login {
    display: flex;
    flex-direction: column;
  }

  .form-card-login {
    width: 300px !important;
  }

  .top-login {
    position: absolute;
    width: 50vw;
    height: 70px;
    background-color:#ffffff;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
  }

  .top-login-logo {
    position: relative;
    align-items: center;
    left: 2.5vw;
    top: 1vw;
    width: 40px;
    height: 56px;
  }

  .top-login-navbar-option{
    text-align: center;
    font-weight: bold;
    padding: 2rem;
    width: 100%;
    font-size: 1.4rem;
    display: table;
    color: #494949;
  }

  .top-login-navbar-option:hover{
    transition: all 0.4s ease-out;
    color: #F9423A;
  }

  .p-message {
    font-size: 0.9rem;
    margin-top: 0.1rem;
    color: #f0300efa;
  }

  .form-input-help {
    font-size: 95%;
    margin-left: 5%;
  }

  @media screen and (max-width: 960px) {
    .form-signup-wrap{
      position: relative;
      left: 50%;
    }
    .side-image{
      display: none;
    }
  }

