.info-paciente {
  display: flex;
  width: 100%;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
}

.dados-pac {
  display: flex;
  flex-direction: column;
  background-color: #2d4561;
  color: white;
  width: 18%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5vh;
  border-radius: 2vh 0vh 0vh 2vh;
}

.descricao {
  background-color: rgb(223, 222, 222);
  width: 40%;
  height: 25vh;
  padding-top: 2vh;
  padding-left: 4vh;
  border-radius: 0vh 2vh 2vh 0vh;
}

.container-graficos {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  align-items: center;
}

.graficos {
  width: 400px;
  height: 100px;
  max-width: 100vw;
  margin-top: 90px;
}

.graficos-pizzas{
  margin-top: 90px;
}

.graficos-metricas {
  text-align: center;
  margin-top: 100px;
}

.wrap-graficos {
  display: flex;
  flex-direction: column;
}

.grafico-rosca {
  width: 500px;
}


@media screen and (max-width: 960px) {
  .container-graficos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
