.info-paciente {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.dados-pac{
    display: flex;
    flex-direction: column;
    background-color: #2D4561;
    color: white;
    width: 18%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    border-radius: 2vh 0vh 0vh 2vh;
}

.descricao {
    background-color: rgb(223, 222, 222);
    width: 40%;
    height: 25vh;
    padding-top: 2vh;
    padding-left: 4vh;
    border-radius: 0vh 2vh 2vh 0vh;
} 

