.about-container{
    background-color: rgb(163, 171, 189);
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
}


.imagem-inferior img{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 700px;
    top: 650px;
}

.titulo-about{
    font-size: 50px;
    font-style: italic;
    position: absolute;
    left: 140px;
    top: 740px;
}

.titulo-about img{
    width: 350px;
    height: 260px;
    position: absolute;
    left: 100px;
    top: 20px;
}

.texto-about{
    width: 1000px;
    height: 700px;
    position: relative;
    left: 170px;
    top: 440px;
}

.sobre-nos{
    font-size: 25px;
}