.container-attPsico{
    display: flex;
    width: 100%;
    height: 90vh;
}

.container-titulo-form {
    width: 30vw;
    height: 70vh;
    margin: auto;
    padding: 1vh;
}

.titulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 150%;
    margin: auto;
    width: 250px;
    height: 5vh;
}

.form-attPsico{
    display: flex;
    border-radius: 0.5vw;
    background-color: #e2e2e2; 
}

.form-items-attPsico{
    display: block;
    
}
.primeira-linha-attPsico{
    width: 24vw;
}
.quinta-linha-attPsico{
    width: 100%;
    margin: auto;
}

.quinta-linha-attPsico button{
    border-radius: 15px;
    background-color: #2D4561;
    padding: 0.5rem 5rem 0.5rem 5rem;
    font-size: 14px;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .form-attPsico{
        background-color: whitesmoke; 
    }

    .titulo{
        margin-left: auto;
    }
}


